body{
    margin: 0;
    background: #EFEFEF;
}

a{
    text-decoration: none;
    color: inherit;
}

*{
    margin: 0;
    padding: 0;
}

hr{
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}

ul,
ol{
    list-style: none;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.topNavBar{
    padding: 24px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.topNavBar .topNavBar-inner{
    padding: 0px 16px;
}

.topNavBar .logo{
    font-family: Arial Black; 
    font-size: 24px;
    padding-top: 3px;
    padding-bottom: 4px;
}

.topNavBar .logo .RS{
    color: #E6686A;
    margin-right: 4px;
}

.topNavBar .logo .card{
    color: #9A9DA2;
}

.topNavBar>a{
    float: left;
}

.topNavBar nav{
    float: right;
    padding-top: 8px;
}
.topNavBar nav>ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.topNavBar nav>ul>li{
    float: left;
    padding-left: 17px;
    padding-right: 17px;
}

.topNavBar nav>ul>li>a{
    font-size: 12px;
    color: #B7B7B7;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.topNavBar nav>ul>li>a:hover{
    border-bottom: 3px solid #E06567;
}

.banner{
    background-image: url(./img/rs-cover.jpg); 
    height: 515px;
    background-position: center center;
    background-size: cover;
}

.mask{
    height: 515px;
    background-color: rgba(0,0,0,0.8);
}

.userCard{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.4);
}

.userCard .pictureAndText{
    padding: 50px 50px;
}

.userCard .picture{
    float: left;
}

.userCard .text{
    float: left;
    padding-left: 65px;
    width: 470px;
}

.userCard .text h1{
    margin-top: 18px;
}

.userCard .welcome{
    background: #E6686A;
    color: white;
    display: inline-block;
    padding: 5px 16px;
    line-height: 22px;
    position: relative;
}

.userCard .welcome .triangle{
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #E6686A;
    border-top-width: 0px;
    position: absolute;
    top: 100%;
    left: 4px;
}

.userCard .text hr{
    margin: 20px 0;
}

.userCard dl dt,
.userCard dl dd{
    float: left;
    padding: 15px 0;
}

.userCard dl dt{
    width: 30%;
    font-weight: bold;
}

.userCard dl dd{
    width: 70%;
    color: #9DA0A7;
}

.userCard > footer.media{
    background: #E6686A;
    text-align: center;
    
}

.userCard > footer.media > a{
    display: inline-block;
    padding: 8px;
    border-radius: 50%;
    margin: 16px;
}

.userCard > footer.media > a:hover{
    background: #D05C60;
}

.userCard svg{
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}

body > main{
    margin-top: -345px;
}

body > main .downloadResume-wrapper{
    text-align: center;
}

body > main .downloadResume{
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    display: inline-block;
    font-weight: bold;
    color: #3d4451;
    border: 1px solid #CBCDCF;
    background: #EFEFEF;
    border-radius: 3px;
    margin: 34px 0;
    transition: box-shadow 0.3s;
}

body > main .downloadResume:hover{
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.3);
}

.selfIntroduction{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1.8;
    font-family: '楷体';
    font-size: 20px;
}

section.skills{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

section.skills > h2{
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}

section.skills > ol{
    background: #FFFFFF;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);
}
