body{
  background-color: black;
  margin: 0px;
}

a{
  color: inherit;
  text-decoration: none;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}

.TopNavBar{
  margin: 28px 120px 28px 120px;
}
.TopNavBar .logo{
  font-family: Arial Black;
  font-size: 24px;
}

.TopNavBar .logo .RS{
  color: #E8676B;
  margin-right: 4px;
}

.TopNavBar .logo .card{
  color: #9A9DA2;
}

.TopNavBar > a{
  float: left;
}

.TopNavBar > nav{
  float: right;
}

.TopNavBar > nav > ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.TopNavBar > nav > ul > li{
  float: left;
  margin-left: 17px;
  margin-right: 17px;
  list-style: none;
}

.TopNavBar > nav > ul > li > a{
  font-size: 13px;
  font-weight: bold;
  color: #C2C5C8;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}

.TopNavBar > nav > ul > li > a:hover{
  border-bottom: 3px solid #E8676B;
}
