body{
  background-color: black;
  margin: 0;
}

.clearfix::after{
  content:'';
  display: block;
  clear: both;
}

a{
  text-decoration: none;
}

.TopNavBar{
  margin: 26px 170px 26px 170px;
}

.TopNavBar .logo{
  font-family: Arial Black;
  font-size: 24px;
  padding-bottom: 5px;
}
.TopNavBar .logo .RS{
  color: #E8676B;
  margin-right: 4px;
}

.TopNavBar .logo .card{
  color: #9A9DA2;
}

.TopNavBar > nav > ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.TopNavBar > nav > ul > li{
  float: left;
  list-style: none;
  margin-left: 17px;
  margin-right: 17px;
  font-size: 12px;
  font-weight: bold; 
}

.TopNavBar>nav>ul>li>a{
  color: #C2C5C8;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-bottom: 8px;
  padding-top: 8px;
  display: block;
}

.TopNavBar>nav>ul>li>a:hover{
  border-bottom: 3px solid #E8676B;
}


.RS{

}
